#include "resource.h"
#include <windows.h>

IDR_LOGO            RCDATA "logo.png"
IDR_INFO_IMAGE      RCDATA "logo.png"
IDR_CLICK_SOUND     RCDATA "clicksound.mp3"
IDR_CLICK_SOUND_1   RCDATA "clicksound_1.mp3"
IDR_CLICK_SOUND_2   RCDATA "clicksound_2.mp3"
IDR_WATERMARK_IMAGE RCDATA "azyrewatermark.png"
IDR_FONT            RCDATA "ProductSans.ttf"
IDR_GITHUB_INI      RCDATA "github.ini"
IDR_COMBAT_ICON      RCDATA "CategoryImage/Combat.png"
IDR_MOVEMENT_ICON    RCDATA "CategoryImage/Movement.png"
IDR_VISUALS_ICON     RCDATA "CategoryImage/Visuals.png"
IDR_MISC_ICON        RCDATA "CategoryImage/Misc.png"
IDR_TERMINAL_ICON    RCDATA "terminal.png"
IDR_INFO_ICON        RCDATA "CategoryImage/Info.png"
IDR_IRC_ICON         RCDATA "CategoryImage/IRCChat.png"
IDR_LIKE_ICON           RCDATA "MarketAssets/Like.png"
IDR_DOWNLOAD_ICON       RCDATA "MarketAssets/Download.png"
IDR_CONFIG_MARKET_ICON  RCDATA "CategoryImage/ConfigMarket.png"
IDR_SPLASH_BG           RCDATA "background/background1.png"
IDR_SPLASH_LOGO         RCDATA "icons/amatayakul.png"
IDR_BLUR_PIXEL_SHADER   RCDATA "blur_ps.hlsl"
IDR_BLUR_VERTEX_SHADER  RCDATA "blur_vs.hlsl"

// Additional fonts
IDR_FONT_GOOGLE_SANS    RCDATA "Fonts/GoogleSans-Regular.ttf"
IDR_FONT_INTER          RCDATA "Fonts/Inter-Regular.ttf"
IDR_FONT_JETBRAINS_MONO RCDATA "Fonts/JetBrainsMono-Regular.ttf"
IDR_FONT_MINECRAFT      RCDATA "Fonts/Minecraft.ttf"
IDR_FONT_SF_PRO         RCDATA "Fonts/SF-Pro-Text-Regular.ttf"
IDR_FONT_POPPINS        RCDATA "Fonts/Poppins-Regular.ttf"
IDR_FONT_PLAYFAIR       RCDATA "Fonts/PlayfairDisplay-Regular.ttf"

// Module card icons (LEGACY-style)
IDR_ICON_CPS          RCDATA "icons/cpscounter.png"
IDR_ICON_FPS          RCDATA "icons/fpscounter.png"
IDR_ICON_GEAR         RCDATA "icons/gear.png"
IDR_ICON_KEYSTROKES   RCDATA "icons/keystrokes.png"
IDR_ICON_RENDERINFO   RCDATA "icons/renderinfo.png"
IDR_ICON_UNLOCKFPS    RCDATA "icons/unlockfps.png"
IDR_ICON_WATERMARK    RCDATA "icons/watermark.png"
IDR_ICON_ARRAYLIST    RCDATA "icons/arraylist.png"
IDR_ICON_BACK         RCDATA "icons/back.png"
IDR_ICON_LOGO         RCDATA "icons/amatayakul.png"
IDR_ICON_DASHBOARD    RCDATA "icons/unused/dashboard.png"
IDR_ICON_VISUALS      RCDATA "icons/visuals.png"
IDR_ICON_MISC         RCDATA "icons/misc.png"
IDR_ICON_LOGO_PINK    RCDATA "icons/amatayakul_pink.png"
IDR_ICON_LOGO_CYAN    RCDATA "icons/amatayakul_cyan.png"
IDR_ICON_LOGO_GREEN   RCDATA "icons/amatayakul_green.png"
IDR_ICON_LOGO_BLUE    RCDATA "icons/amatayakul_blue.png"
IDR_ICON_MOTIONBLUR   RCDATA "icons/motionblur.png"
IDR_ICON_AUTOSPRINT   RCDATA "icons/autosprint.png"
IDR_ICON_EDIT         RCDATA "icons/edit.png"
IDR_ICON_CLOSEX       RCDATA "icons/close-X.png"
IDR_ICON_DISCORD      RCDATA "icons/discord.png"
IDR_ICON_GITHUB       RCDATA "icons/github.png"
IDR_ICON_NOHURTCAM    RCDATA "icons/nohurtcam.png"
IDR_ICON_DELETE       RCDATA "icons/delete.png"
IDR_PROFILES_ICON     RCDATA "icons/gear.png"

// Replace assets
IDR_TITLE_ORIGINAL      RCDATA "Replace/titleOriginal.png"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040a04b0"
        BEGIN
            VALUE "CompanyName",      "an4rch Development\0"
            VALUE "FileDescription",  "Amatayakul Client\0"
            VALUE "FileVersion",      "1.0.9\0"
            VALUE "InternalName",     "Amatayakul Client\0"
            VALUE "LegalCopyright",   "an4rch Development | https://anarchdevelopment.github.io/\0"
            VALUE "OriginalFilename", "aegledll.dll\0"
            VALUE "ProductName",      "Amatayakul Client\0"
            VALUE "ProductVersion",   "1.0.9\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40a, 1200 
    END
END
